<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>{{h1}}</h1>
        <p>Addition is {{add}}</p>
        <p>Subtrection is {{sub}}</p>
        <p>Multiplication is {{mul}}</p>
        <p>Division is {{div}}</p>
    </body>
</html>